.container {
  width: 90%;
  max-width: 1290px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 95%;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 90%;
    max-width: 1290px;
  }
}

.container {
  width: 90%;
  max-width: 1290px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 95%;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 90%;
    max-width: 1290px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --accent-color: #faa81a;
  --secondary-color: #0d2946;
  --section-margin: 7rem;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Teko', sans-serif;
  font-weight: 600;
  line-height: 1.2em;
}

.main {
  background-image: url("./images/Top-header-background.png");
  background-color: rgba(7, 20, 86, 0.79);
}

nav {
  padding-block: 1rem;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 160px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.main-survey-section {
  padding-block: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  .main-survey-section {
    gap: 7rem;
    padding-block: 4rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.main__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  color: white;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .main__heading {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.main__heading h1 {
  text-align: center;
  font-size: 2.2rem;
  line-height: 1.1em;
}

@media (min-width: 768px) {
  .main__heading h1 {
    font-size: 2.6rem;
  }
}

@media (min-width: 1024px) {
  .main__heading h1 {
    font-size: 3.2rem;
    text-align: start;
  }
}

@media (min-width: 1366px) {
  .main__heading h1 {
    font-size: 4rem;
  }
}

.main__heading h1 strong {
  color: var(--accent-color);
}

.main__heading ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
}

.main__heading ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.2rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .main__heading ul li {
    font-size: 1.1rem;
  }
}

@media (min-width: 1024px) {
  .main__heading ul li {
    font-size: 1.1rem;
  }
}

@media (min-width: 1366px) {
  .main__heading ul li {
    font-size: 1.2rem;
  }
}

.main__heading ul li .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  width: 1.8em;
  height: 1.8em;
  padding: 2px;
  background-color: var(--accent-color);
}

.main__heading ul li p {
  font-weight: 600;
}

.survey {
  background-color: white;
  width: 100%;
  height: 600px;
  padding-inline: 2rem;
  padding-block: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .survey {
    padding-inline: 2.5rem;
    padding-block: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .survey {
    height: 600px;
    padding-inline: 2.8rem;
    padding-block: 2.8rem;
  }
}

@media (min-width: 1366px) {
  .survey {
    padding-inline: 3rem;
    padding-block: 3rem;
  }
}

.progress-bar {
  width: 200px;
  height: 7px;
  border-radius: 10px;
  background-color: #f5f5f5;
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
}

.progress-bar__progress {
  width: 60%;
  background-color: var(--accent-color);
}

.question-list {
  width: 100%;
  height: 100%;
}

.question .question-text {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
}

.showQuestion {
  display: block;
}

.hideQuestion {
  display: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.radio-box-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.4rem;
  padding-block: 2rem;
}

.radio-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 100%;
  padding-inline: 1rem;
  padding-block: 1.5rem;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.radio-box input {
  display: none;
}

.radio-box span {
  width: 100%;
  display: block;
}

.radio-box__image {
  margin-inline: auto;
}

.section-wrapper {
  background-image: url("./images/bg-counter.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/******* Second Section Start *******/
.second-section {
  padding-top: var(--section-margin);
}

.second-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .second-section__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.second-section__image {
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.second-section__image img {
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {
  .second-section__image img {
    width: 70%;
    height: 70%;
  }
}

.second-section__content {
  width: 100%;
}

.second-section__content h1 {
  text-align: center;
  margin-bottom: 12px;
  font-size: 3rem;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .second-section__content h1 {
    font-size: 5rem;
  }
}

.second-section__content h1 strong {
  color: var(--accent-color);
}

.second-section__content__card {
  background-color: var(--secondary-color);
  padding: 2rem;
  border-radius: 12px;
  color: white;
}

@media (min-width: 768px) {
  .second-section__content__card {
    padding: 2rem;
  }
}

@media (min-width: 1024px) {
  .second-section__content__card {
    padding: 3rem;
  }
}

.second-section__content__card h3 {
  text-align: center;
  font-size: 1.8rem;
}

.second-section__content__card ul {
  padding-block: 3rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.4rem;
  font-size: 1.5rem;
}

.second-section__content__card ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calculate-earnings-button {
  outline: none;
  border: none;
  width: 100%;
  padding-block: 1rem;
  padding-inline: 1rem;
  border-radius: 12px;
  font-size: 1.4rem;
  background-color: var(--accent-color);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f5aa28), color-stop(40%, #ffa201), color-stop(200%, #f3ac33));
  background-image: linear-gradient(to bottom, #f5aa28 20%, #ffa201 40%, #f3ac33 200%);
  color: white;
  cursor: pointer;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-transition: -webkit-filter 0.2s ease;
  transition: -webkit-filter 0.2s ease;
  transition: filter 0.2s ease;
  transition: filter 0.2s ease, -webkit-filter 0.2s ease;
}

.calculate-earnings-button:hover {
  -webkit-filter: brightness(92%);
          filter: brightness(92%);
}

/******* Second Section End *******/
/* =============================== /*

/******* Third Section Start *******/
.third-section {
  margin-top: var(--section-margin);
}

.third-section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .third-section-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.third-section__content {
  width: 100%;
  text-align: center;
}

.third-section__content h1 {
  font-weight: 400;
  font-size: 3rem;
}

@media (min-width: 768px) {
  .third-section__content {
    text-align: start;
  }
}

.third-section__image {
  width: 100%;
}

.third-section__image img {
  width: 100%;
  height: 100%;
}

/******* Third Section End *******/
/* =============================== /*


/******* Forth Section Start *******/
.forth-section {
  margin-top: var(--section-margin);
}

.forth-section__container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}

.forth-section__content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.forth-section__content h1 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1em;
  padding-bottom: 1rem;
}

@media (min-width: 1024px) {
  .forth-section__content h1 {
    font-size: 5rem;
  }
}

.forth-section__content p {
  font-size: 2rem;
}

/******* Forth Section End *******/
/* =============================== /*


/******* Footer Section Start *******/
footer {
  margin-top: var(--section-margin);
  background-color: var(--secondary-color);
}

.footer-container {
  text-align: center;
  padding: 2rem;
}

.footer-container p {
  font-size: 1.5rem;
  color: white;
}

/******* Footer Section Start *******/
/*# sourceMappingURL=styles.css.map */